body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Visby CF Extra Bold";
  src: url(./fonts/VisbyCF-ExtraBold.otf);
}

@font-face {
  font-family: "Visby CF Regular";
  src: url(./fonts/VisbyCF-Regular.otf);
}

@font-face {
  font-family: "Visby CF Light";
  src: url(./fonts/VisbyCF-Light.otf);
}

@font-face {
  font-family: "Visby CF Heavy";
  src: url(./fonts/VisbyCF-Heavy.otf);
}